name: Deploy Flet Web App to GitHub Pages
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          pip install flet==0.80.1
          pip install --pre -r requirements.txt

      - name: Flet Publish
        run: |
          # Bundling for Web (Force plugin compilation via prompt bypass using 'yes')
          yes | flet publish main.py --app-name "TalkLand" --app-description "Simple Language App" --base-url "/talkland/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
